<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.EmpDao">
    <select id="Total" resultType="int">
        select count(1) from t_comment
    </select>
    <select id="findEmp" resultType="com.jk.pojo.EmpBean">
        select * from t_comment
        limit #{start},#{rows}
    </select>
    <select id="count" resultType="int">
        select count(1) from  material
    </select>
    <select id="findList" resultType="com.jk.pojo.materialBean">
        select * from  material aa LEFT JOIN types bb on aa.id=bb.id
        limit #{start},#{rows}
    </select>
    <select id="findTreeByPid" parameterType="int" resultType="com.jk.pojo.treeBean">
        select * from t_tree2 where pid=#{pid}
    </select>
<select id="findUserByAcoount" resultType="string" parameterType="com.jk.pojo.userBean">

    select * from t_user where account=#{account}
</select>
    <select id="count1" resultType="int">
        select count(1) from prize
    </select>
    <select id="findprizeList" resultType="com.jk.pojo.prizeBean">
        select * from prize
        limit #{start},#{rows}
    </select>
<select id="count2" resultType="int">
    select count(*) from material
</select>
    <select id="finduserLists" resultType="com.jk.pojo.materialBean">

select * from material aa LEFT JOIN t_comment bb on aa.type=bb.id
LEFT JOIN department cc on aa.id=cc.id


    </select>

    <insert id="add" parameterType="com.jk.pojo.materialBean">
        insert into material values(#{id},#{name},#{efficient},#{typename},#{type},#{eligibility})

    </insert>

    <select id="count3" resultType="int">
        select count(*) from t_position


    </select>
    <select id="findxiangqingList" resultType="com.jk.pojo.PositionBean">
         select * from t_position
        limit #{start},#{rows}
    </select>
<select id="count4" resultType="int">
    select count(1) from t_yong

</select>
    <select id="find" resultType="com.jk.pojo.yongbean">
          select * from t_yong
        limit #{start},#{rows}
    </select>

    <select id="count5" resultType="int">
        select count(*) from e_user
    </select>
    <select id="findlistdeng" resultType="com.jk.pojo.UseridBean">
select  * from e_user
 limit #{start},#{rows}
    </select>
    <insert id="addid" parameterType="com.jk.pojo.prizeBean">
        insert into prize values(null,#{name},#{person},#{timedate})
    </insert>
</mapper>