<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
<body>
<form id="myform">
    <table>
        <tr>
            <td><label>姓名</label></td>
            <td>
                <input type="text" class="form-control" name="id" id="id"style="display: none">
                <input type="text" class="form-control" name="name" id="name">
            </td>
        </tr>
        <tr>
            <td><label>密码</label></td>
            <td>
                <input type="text" class="form-control" name="pwd" id="pwd">
            </td>
        </tr>
        <tr>
            <td><label>职位</label></td>
            <td>
                <select id="positionId" name="positionId"></select>
            </td>
        </tr>
        <tr>
            <td><label>部门</label></td>
            <td>
                <select id="departmentId" name="departmentId"></select>
            </td>
        </tr>
        <tr>
            <td><label>薪资</label></td>
            <td>
                <input type="text" class="form-control" name="pay" id="pay">
            </td>
        </tr>
        <tr>
            <td><label>座右铭</label></td>
            <td>
                <input type="text" class="form-control" name="motto" id="motto">
            </td>
        </tr>
    </table>
</form>
</body>
<script type="text/javascript">
    $('.date').datetimepicker({
        language: 'zh-CN',//显示中文
        //format: 'yyyy-mm-dd hh:ii:ss',//显示格式
        format: 'yyyy-mm-dd',//显示格式
        minView: "month",//设置只显示到月份
        initialDate: new Date(),//初始化当前日期
        autoclose: true,//选中自动关闭
        todayBtn: true//显示今日按钮
    });
    $(function(){
        findDept();
        findPositionId();
    })
    //部门查询
    function findDept() {
        $.ajax({
            url: '/emp/findDept',//后台请求地址
            type: 'post',
            async: false,
            success: function (data) {
                //拼接下拉列表的字符串
                var str = "<option value='-1'>请选择</option>";
                for (var i = 0; i < data.length; i++) {
                    str += "<option value='" + data[i].departmentId + "'>" + data[i].departmentName + "</option>";
                }
                $("#departmentId").html(str);
            }
        });
    }

    function findPositionId() {
        $.ajax({
            url: '/emp/findPosition',//后台请求地址
            type: 'post',
            async: false,
            success: function (data) {
                //拼接下拉列表的字符串
                var str = "<option value='-1'>请选择</option>";
                for (var i = 0; i < data.length; i++) {
                    str += "<option value='" + data[i].positionId + "'>" + data[i].positionName + "</option>";
                }
                $("#positionId").html(str);
            }
        });
    }

</script>
</html>